@import '../main';

@include oUseragentTarget(ie7) {
	.thing {
		color: red;
	}
}

@include oUseragentTarget(ie) {
	.thing {
		color: red;
	}
}

@include oUseragentTarget(ie7) {
	.thing {
		color: red;
	}
}

@include oUseragentTarget(chrome) {
	.thing {
		color: red;
	}
}


.thing {
	@include oUseragentPrefixer(outline, none);
	@include oUseragentPrefixer(display, flex, true);
	@include oUseragentPrefixer(display, flex, true, false, o ms invalidprefix);
	background-color: yellow;
}

@include oUseragentTarget(ie7) {
	.thing2 {
		color: red;
	}
}

@include oUseragentListTargets();
